services:
  backend-service:
    build: 
      context: .
      dockerfile: Dockerfile.dev
      target: server
    container_name: fin-folio-backend
    restart: always
    env_file: .env
    environment:
      - PORT=${BE_SERVICE_PORT}
      - PG_HOST=${PG_HOST}
      - PG_PORT=${PG_PORT}
      - PG_USER=${PG_USER}
      - PG_PASSWORD=${PG_PASSWORD}
      - PG_DB=${PG_DB}
      - LOG_TYPEORM=${LOG_TYPEORM:-false}
    ports:
      - ${BE_SERVICE_PORT}:${BE_SERVICE_PORT}
    volumes:
      - ./apps/fin-folio-server:/usr/app/apps/fin-folio-server
    networks:
      - shared-network
    # command: pnpm run dev
    command: sh -c "pnpm install --frozen-lockfile && pnpm run dev"


  web-client:
    build: 
      context: .
      dockerfile: Dockerfile.dev
      target: client
    container_name: fin-folio-client
    restart: always
    # env_file: .env
    env_file:
      - .env
    environment:
      - PORT=${WEB_CLIENT_PORT}
    ports:
      - ${WEB_CLIENT_PORT}:${WEB_CLIENT_PORT}
    volumes:
      - ./apps/fin-folio-client:/usr/app/apps/fin-folio-client
    networks:
      - shared-network
    # command: pnpm run dev -- --host
    command: sh -c "pnpm install --frozen-lockfile && pnpm run dev -- --host"

networks:
  shared-network:
    driver: bridge
